/* ページ全体のスタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* ヘッダーのスタイル */
header {
    padding: 40px;
    background-image: url(College_1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

header h1 {
    margin: 0;
    font-size: 50px;
    margin-bottom: 5px; 
    text-align: center;
    color: #fff;
}

.subtext {
    font-size: 30px;
    margin: 10; 
    text-align: center;

}


.logo img {
    height: 80px;
    margin-right: 10px;
    opacity: 0; 
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-80px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    margin: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 200px;
    margin-right: 10px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: right;
    display: flex;
}

.menu li {
    margin-right: 10px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
}

.menu li a:hover {
    text-decoration: underline;
}

section#skills {
    margin: 20px;
    width: 100%;
}


.skills-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill-item {
    width: 50%;
}
.skill-item h3 {
    margin-top: 10px;
}

.skill-item figure {
    margin: 0;
    text-align: center;
}

.skill-item img {
    height: 150px;
    border: 1px solid #ccc;
    overflow: hidden;
}

section#skills h3 {
    margin-top: 10px;
    text-align: left;
}

section#skills figure {
    margin: 0;
}

section#skills ul li:nth-child(4) p {
    font-size: 5px; 
    margin-top: 5px;
}

section {
    margin: 20px;
}
section#contact figure {
    max-width: 40px;
    margin: left; 
}




section#work {
    margin: 20px;
    width: 100%;
}

.work{
    display: flex;
    justify-content: center;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.work-item {
    width: 50%;
}

.work-item h3 {
    margin-top: 10px;
}

.work-item video{
    width: 100%;
}

.work-item figure {
    margin: 0;
    text-align: center;
}

.work-item img {
    height: 300px;
    border: 1px solid #ccc;
    overflow: hidden;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}





section {
    margin: 20px;
}
section#contact figure {
    max-width: 80px;
    margin: left; 
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
